*{
    box-sizing: border-box;
}
body{
    margin: 0;

}
.wrapper{
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas:
    "h1 h1 h1"
    "header header header"
    "banner banner off1"
    "banner banner off2"
    "side-menu main main"
    "tags main main"
    "recent main main"
     "footer footer footer"
    ;
}
.wrapper > *{
    justify-content: center;
    align-items: center;
    padding: 1rem;
    display: grid;

    }
h1{
    background: blue;
    color: white;
    grid-area: h1;
}
header{
    background: red;
    grid-area: header;
}
.banner{
    min-height: 20vh;
    background: rgba(28, 0, 128, 0.418);
    grid-area: banner;
}
.off1{
    background: yellowgreen;
    grid-area: off1;
}
.off2{
    background: brown;
    grid-area: off2;
}
.side-menu{
    background: purple;
    grid-area: side-menu;
}
.recent{
    background: cyan;
    grid-area: recent;
}
.tags{
    background: orange;
    grid-area: tags;

}
.main{
    background: rgb(0, 4, 255);
    grid-area: main;
}
footer{
    background: black;
    color: white;
    grid-area: footer;
}
@media(max-width: 992px)
{
    .wrapper{
        display: grid;
        gap: 5px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "h1 h1"
        "header header"
        "banner banner"
        "off1 off2"
        "side-menu side-menu"
        "main main"
        "recent tags"
        "footer footer"
        ;
    }
    
}
@media(max-width:768px) {
    .wrapper{
        display: grid;
        gap: 5px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "h1"
        "header"
        "banner"
        "off1"
        "off2"
        "side-menu"
        "main"
        "recent" 
        "tags"
        "footer"
        ;

    
}
